### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

### Loading Data

In [3]:
fashion = pd.read_pickle('./data/fashion.pkl')

### EDA & Cleaning

In [4]:
fashion.shape

(1500, 4)

In [5]:
fashion.columns

Index(['created', 'handle', 'text', 'tweet_id'], dtype='object')

In [6]:
fashion.text[0]

'"I have always been fascinated by what is acceptable and what is not," says @MichaelClarkCo. "I establish my own rules so I can break them." Discover more about ‘The Performers’ via https://t.co/BqCboihC5J. #sponsored #AlessandroMichele #GucciStories\nPhotographer: #DavidAbrahams https://t.co/bLe69lw84m'

In [11]:
fashion.groupby(fashion.handle).size()

handle
Alexander McQueen    500
Stella McCartney     500
gucci                500
dtype: int64

In [12]:
fashion['date_time'] = pd.to_datetime(fashion.created)
fashion.drop(labels='created', axis=1, inplace=True)
fashion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 4 columns):
handle       1500 non-null object
text         1500 non-null object
tweet_id     1500 non-null int64
date_time    1500 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 47.0+ KB

In [13]:
fashion.head(2)

,handle,text,tweet_id,date_time
0,gucci,"""I have always been fascinated by what is acce...",975824309263454209,2018-03-19 20:00:19
1,gucci,In @BritishGQ and Gucci’s original video serie...,975823136594808837,2018-03-19 19:55:40