### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

import json

import psycopg2 as pg2
from psycopg2.extras import RealDictCursor, Json

### Functions

In [2]:
#function to connect to posgres db on ubuntu instance 

def con_cur_to_db():
    con = pg2.connect(host = '13.52.0.109', 
                     dbname = 'postgres',
                     user = 'postgres',
                     password = 'zoolander')
    cur = con.cursor(cursor_factory = RealDictCursor)
    return con, cur

In [3]:
#function to insert data into unstructured postgres db

def insert_json(data):
    con, cur = con_cur_to_db()
    for x in data:
        cur.execute('INSERT INTO all_data (data) VALUES ({});'.format(Json(x)))
    con.commit()
    con.close()

In [133]:
#grabs data from postgres db

def fetch_data(query):
    con, cur = con_cur_to_db()
    cur.execute(query)
    data = cur.fetchall()
    con.close()
    return data

In [134]:
#function to run sql queries in postgres db 

def get_handle_tweets(handle):
    query = f"""
    SELECT * 
    FROM all_data
    Where data->>'handle' = 
    '{handle}'; """
    data = fetch_data(query)
    return data

In [135]:
#transforms list of dicts of dicts to list of dicts 

def extractor(query_result):
    return [*map(lambda x: x['data'], query_result)]

In [205]:
labels = ['Acne Studios', 'Akris', 'Alexander McQueen', 'gucci', 'Jimmy Choo', 'PRADA', 'Roberto Cavalli',\
'Stella McCartney', 'TOM FORD'] 

data = []

for label in labels:
    data.extend(get_handle_tweets(label))
    
extracted_data = extractor(data)

fashion = pd.DataFrame(extracted_data)
fashion.shape

(17518, 4)

In [208]:
fashion.handle.value_counts()

gucci                3240
Alexander McQueen    2000
Roberto Cavalli      2000
Stella McCartney     2000
Acne Studios         2000
Jimmy Choo           1999
PRADA                1991
TOM FORD             1290
Akris                 998
Name: handle, dtype: int64

In [ ]:
#################################### dave function 

items = range(1, 500)

# write a function that will capture items in chunks of 10 from 5000, decending
bucket = []

def grab_10_items():
    
    # what is the lowest number in bucket so far?
    #start from there
    
    min_bucket = min(bucket)
    
    if items[min_bucket:-10] in bcuket:
        bucket.append(the stuff you find..)

grab_10_items()

### Collecting Fashion House Tweets

In [5]:
#Reading in application keys 

with open('../data/twitter_keys.txt') as api:
    keys = api.read().split('\n') 

#Aplication keys

import twitter, re, datetime, pandas as pd

twitter_keys = {
    'consumer_key':        keys[0],
    'consumer_secret':     keys[1],
    'access_token_key':    keys[2],
    'access_token_secret': keys[3]
}

api = twitter.Api(
    consumer_key         =   twitter_keys['consumer_key'],
    consumer_secret      =   twitter_keys['consumer_secret'],
    access_token_key     =   twitter_keys['access_token_key'],
    access_token_secret  =   twitter_keys['access_token_secret'],
    tweet_mode           =   'extended'
)

In [9]:
#Twitter API Class

class TweetMiner():
    
    result_limit = 20
    api          = None
    tweets       = []
    
    def __init__(self, keys_dict, api, result_limit = 20):
        
        self.keys_dict     = keys_dict
        self.api           = api
        self.results_limit = result_limit
        
    def mine_user_tweets(self, user='gucci', mine_retweets = False, max_pages = None, last_tweet_id = False):
        
        #time out feedback
        print("Mining tweets for:", user)
        
        tweets        = []
        last_tweet_id = False
        page           = 1
        
        while page <= max_pages:
            
            #time out feedback
            print("Mining page:", page)
            
            if last_tweet_id:
                statuses = self.api.GetUserTimeline(
                    screen_name = user,
                    count       = self.result_limit,
                    max_id      = last_tweet_id - 1
                )
            else:
                statuses = self.api.GetUserTimeline(
                    screen_name = user,
                    count       = self.result_limit
                )

            for item in statuses:
                
                last_tweet_id = item.id
                
                tweets.append({
                    'tweet_id': item.id,
                    'handle':   item.user.name,
                    'text':     item.full_text,
                    'created':  item.created_at
                })
                
            page += 1
        
        return tweets
            
        
miner = TweetMiner(twitter_keys, api, result_limit=50)

### Fashion Labels

In [1]:
wikipedia_labels = ['akris_official', 'McQueen', 'alfreddunhill', 'AlphaIndustries', 'andres_sarda', 'Anne_Fontaine',\
                   'aquascutum', 'giorgioarmani', 'emporioarmani', 'ArmaniExchange', 'AspinalofLondon', 'AspreyLondon',\
                   'AleDellAcqua', 'Dior', 'dkny', 'dolcegabbana', '_BadgleyMischka', 'BadgleyMischka', 'BALENCIAGA',\
                   'Bally', 'Balmain', 'BensonAndClegg', 'berluti', 'Beulahlondon', 'ManoloBlahnik', 'HUGOBOSS',\
                    'BottegaVeneta', 'ThomBrowneNY', 'Bulgariofficial', 'Burberry', 'NigelCabourn', 'CalvinKlein',\
                   'camillaandmarc', 'Cartier', 'Dsquared2', 'CERRUTI1881', 'CHANEL', 'Childrensalon', 'chloefashion',\
                   'matthewbridal', 'chromeheartsusa', 'ClementsRibeiro', 'Coach', 'COMMEGARCONS', 'Common Projects',\
                   'corneliajames', 'Corneliani_com', 'CuteCircuit', 'cutlerandgross', 'DegeandSkinner', 'NUMEROVENTUNO',\
                   'dkny', 'dolcegabbana', 'ermannoscervino', 'ESCADA', 'EtroOfficial', 'Faconnable', 'Fendi',\
                    'TOMFORD', 'franksorbier', 'freywilleglobal', 'STUDIO_FULTON', 'DVF', 'JPGaultier', 'GievesLondon',\
                   'givenchy', 'Goyard', 'gucci', 'HackettLondon', 'KevanHallDesign', 'halston', 'Hardy Amies ', 'HELMUTLANG',\
                   'Hermes_Paris', 'HouseofHerrera', 'TommyHilfiger', 'SherriHill', 'GeorgesHobeika', 'marcjacobs', 'jimmychoo',\
                   'johnvarvatos', 'ChristopherKane', 'Karen_Kane', 'katespadeny', 'MaryKatrantzou', ' Khaadi', 'LACOSTE',\
                   'BNYhandbags', 'KarlLagerfeld', 'DerekLamNYC', 'LANVINofficial', 'LardiniOfficial', 'guylaroche', 'Larusmiani',\
                   'JudithLeiber', '']


fashion_labels = ['gucci', 'McQueen', 'StellaMcCartney', 'Fendi', 'MaisonValentino', 'Roberto_Cavalli',\
                  'LouboutinWorld', 'EtroOfficial', 'Prada', 'dolcegabbana', 'Dior', 'LouisVuitton', 'CHANEL'\
                 'Missoni', 'OscardelaRenta', 'VeraWangGang', 'HerveLeger', 'MaisonValentino', 'Balmain',\
                 'Versace', 'giorgioarmani', 'DerekLamNYC', 'AlbertaFerretti', 'YSL', 'COMMEGARCONS', 'BALENCIAGA',\
                 'Burberry', 'TOMFORD', 'ALEXVAUTHIER', 'MIUMIUofficial', 'CalvinKlein', 'givenchy', 'TommyHilfiger',\
                 'jimmychoo', 'OffWht', 'chloefashion','dkny', 'marcjacobs', 'MichaelKors', 'Goyard', 'HUGOBOSS',\
                 'kenzo', 'HELMUTLANG', 'acnestudios', 'Bulgariofficial', 'akris_official']

prime_labels = ['gucci', 'McQueen', 'StellaMcCartney', 'Roberto_Cavalli', 'acnestudios', 'jimmychoo', 'Roberto_Cavalli',\
               'TOMFORD', 'Prada', 'akris_official']

print('wikipedia_labels', len(wikipedia_labels))
print('fashion_labels:', len(fashion_labels))
print('prime_labels:', len(prime_labels))

wikipedia_labels 96
fashion_labels: 45
prime_labels: 10

In [13]:
#Instantiating class and passing list of twitter handles

tweet_data = []

for label in prime_labels:
    tweet_data.extend(miner.mine_user_tweets(user=label, max_pages=50, last_tweet_id=True))

fashion = pd.DataFrame(tweet_data)

Mining tweets for: gucci
Mining page: 1

TwitterError: [{'message': 'Rate limit exceeded', 'code': 88}]

In [12]:
fashion.shape

NameError: name 'fashion' is not defined

In [26]:
fashion.groupby(fashion.handle).size()

NameError: name 'fashion' is not defined

In [16]:
fashion.to_pickle('../data/fashion.pkl')

In [17]:
fashion.head()

,created,handle,text,tweet_id
0,Wed Mar 21 22:00:19 +0000 2018,gucci,A fresh and green scent Gucci Bloom Acqua di F...,976579281898885120
1,Wed Mar 21 20:00:19 +0000 2018,gucci,New scent Gucci Bloom Acqua di Fiori blends a ...,976549082427740160
2,Wed Mar 21 17:59:41 +0000 2018,gucci,"Presenting a new chapter of #InBloom, Gucci Bl...",976518722830716931
3,Tue Mar 20 19:00:35 +0000 2018,gucci,"“It was my way of surviving, to charm people o...",976171664982659073
4,Tue Mar 20 16:00:39 +0000 2018,gucci,".@MichaelClarkCo reveals, ""Japan is the most a...",976126380206383104

In [46]:
gucci_db = pd.read_csv('../data/gucci.csv', index_col=[0])
gucci_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3241 entries, 0 to 3233
Data columns (total 4 columns):
created     3241 non-null object
handle      3234 non-null object
text        3234 non-null object
tweet_id    3227 non-null float64
dtypes: float64(1), object(3)
memory usage: 126.6+ KB

In [56]:
gucci_db.isnull().sum()

created      0
handle       7
text         7
tweet_id    14
dtype: int64

In [52]:
gucci_db[gucci_db.duplicated('tweet_id')]

,created,handle,text,tweet_id
#GucciCruise18 dress by #AlessandroMichele. #GucciEditorials https://t.co/W4wEanSOQa,948291441901654016,NaN,NaN,NaN
333,Tue Jan 02 15:05:10 +0000 2018,gucci,Actress Kristin Scott Thomas is captured in th...,NaN
#AlessandroMichele for @britishvogue. #GucciEditorials https://t.co/bvRTbWK4zA,948208551297732608,NaN,NaN,NaN
535,Sun Nov 05 15:26:31 +0000 2017,gucci,@petrafcollins at last night’s @lacma #artandf...,NaN
#InBloom https://t.co/CIasySNAxd,927195431150477312,NaN,NaN,NaN
537,Sun Nov 05 14:31:10 +0000 2017,gucci,.#AmyAdams attended @lacma’s #artandfilm Gala ...,NaN
silk gown. https://t.co/IHR2yp2iTn,927181499400708096,NaN,NaN,NaN
861,Thu Aug 17 11:01:56 +0000 2017,gucci,Floral prints and lace pumps featuring a strap...,NaN
#AlessandroMichele https://t.co/koYWlem9Az,898137814101000192,NaN,NaN,NaN
867,Sun Aug 13 14:26:34 +0000 2017,gucci,A trench coat and the #GucciBambooClassic bag ...,NaN
August issue. #GucciEditorials https://t.co/xdgQ5tKft1,896739761288871936,NaN,NaN,NaN
943,Sun Jul 16 19:10:01 +0000 2017,gucci,Embroidered flowers and the House Web stripe o...,NaN
from #GucciPreFall17. https://t.co/qEZ0CKtPTf,886664234473541633,NaN,NaN,NaN

In [29]:
pd.read_csv('../data/StellaMcCartney.csv', index_col=[0]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3219 entries, 0 to 3218
Data columns (total 4 columns):
created     3219 non-null object
handle      3219 non-null object
text        3219 non-null object
tweet_id    3219 non-null int64
dtypes: int64(1), object(3)
memory usage: 125.7+ KB

In [30]:
pd.read_csv('../data/Roberto_Cavalli.csv', index_col=[0]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 4 columns):
created     1000 non-null object
handle      1000 non-null object
text        1000 non-null object
tweet_id    1000 non-null int64
dtypes: int64(1), object(3)
memory usage: 39.1+ KB

In [40]:
mcqueen_db = pd.read_csv('../data/McQueen.csv', index_col=[0])
mcqueen_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1002 entries, 0 to 999
Data columns (total 4 columns):
created     1002 non-null object
handle      1000 non-null object
text        1000 non-null object
tweet_id    998 non-null float64
dtypes: float64(1), object(3)
memory usage: 39.1+ KB

(1002, 4)

In [41]:
mcqueen_db.shape

(1002, 4)

In [43]:
mcqueen_db.iloc[570:590,:]

,created,handle,text,tweet_id
570,Sat Jun 17 08:05:33 +0000 2017,Alexander McQueen,"Flora and fauna, real and imagined, are hand-e...",8.759878e+17
571,Fri Jun 16 09:47:36 +0000 2017,Alexander McQueen,Men's tailoring features London maps and safet...,8.756511e+17
572,Tue Jun 13 22:25:31 +0000 2017,Alexander McQueen,This #McQueenBoxBag features hand-cut mineral ...,8.747546e+17
573,Tue Jun 13 22:22:37 +0000 2017,Alexander McQueen,The Box Bag adorned with semi-precious labrado...,8.747539e+17
574,Mon Jun 12 19:01:53 +0000 2017,Alexander McQueen,IN DETAIL: this lily pad top is hand-embroider...,8.743410e+17
575,Mon Jun 12 17:55:53 +0000 2017,Alexander McQueen,A top with lily pad sequin embroidery on invis...,8.743244e+17
576,Sun Jun 11 08:20:06 +0000 2017,Alexander McQueen,CLOSE-UP: a detail of the lily pad sequin embr...,8.738171e+17
577,Sat Jun 10 07:45:10 +0000 2017,Alexander McQueen,An evening dress is embroidered with sequin li...,8.734459e+17
578,Fri Jun 09 18:53:24 +0000 2017,Alexander McQueen,A tubular choker in antique gold and silver is...,8.732517e+17
579,Thu Jun 08 17:51:57 +0000 2017,Alexander McQueen,An antique gold and silver earring with a hand...,8.728738e+17
580,Tue Jun 06 09:50:47 +0000 2017,Alexander McQueen,A #McQueenPreAW17 dress with a gathered neckli...,NaN
https://t.co/ce8jq2BgnA https://t.co/BDd4Ot5R7Z,872027984357675009,NaN,NaN,NaN
581,Mon Jun 05 17:10:40 +0000 2017,Alexander McQueen,CLOSE-UP: Pre AW17 black leather gloves and a ...,8.717763e+17
582,Mon Jun 05 15:57:23 +0000 2017,Alexander McQueen,A #McQueenPreAW17 shirt dress made from a cris...,NaN
https://t.co/ce8jq2BgnA https://t.co/qReYb6SaKS,871757853715050496,NaN,NaN,NaN
583,Sat Jun 03 15:48:39 +0000 2017,Alexander McQueen,Inspiration for #McQueenPreAW17: the workshops...,8.710309e+17
584,Sat Jun 03 08:56:07 +0000 2017,Alexander McQueen,"Inspired by the work of #BarbaraHepworth, a rh...",8.709271e+17
585,Fri Jun 02 16:02:55 +0000 2017,Alexander McQueen,"Inspired by the sculpture of #BarbaraHepworth,...",8.706721e+17
586,Thu Jun 01 13:17:59 +0000 2017,Alexander McQueen,A medieval inspired sweater dress with lace-up...,8.702682e+17
587,Wed May 31 22:20:05 +0000 2017,Alexander McQueen,"The Four Ring clutch, embroidered with wings a...",8.700422e+17

In [26]:
mcqueen_db.isnull().sum()

created     0
handle      2
text        2
tweet_id    4
dtype: int64

In [29]:
mcqueen_db[mcqueen_db.tweet_id.isnull()]

,created,handle,text,tweet_id
580,Tue Jun 06 09:50:47 +0000 2017,Alexander McQueen,A #McQueenPreAW17 dress with a gathered neckli...,NaN
https://t.co/ce8jq2BgnA https://t.co/BDd4Ot5R7Z,872027984357675009,NaN,NaN,NaN
582,Mon Jun 05 15:57:23 +0000 2017,Alexander McQueen,A #McQueenPreAW17 shirt dress made from a cris...,NaN
https://t.co/ce8jq2BgnA https://t.co/qReYb6SaKS,871757853715050496,NaN,NaN,NaN

In [64]:
mcqueen_db.duplicated('tweet_id').sum()

3